/* @import url('/images/static/css/Cormorant_Garamond/CormorantGaramond-Italic'); */
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond|EB+Garamond|Karma|Neucha|Overlock|Tangerine');

.padding-0{
    padding-right:0;
    padding-left:0;
}
.padding-1{
    padding-right:0;
    padding-left:1;
}
.padding-2{
    padding-right:1;
    padding-left:0;
}
h1{
  font-size: 75px;
  font-family: 'Tangerine', cursive;
  color:white;
}
h3,h2{
  font-size: 40px;
  color:white;
  font-family: 'Cormorant Garamond', serif;
}
h4{
  color:white;
  font-size: 25px;
  font-family: 'Neucha', cursive;
}
h5{
  color:white;
  font-size: 20px;
  font-family: 'Overlock', cursive;
}
a{
  color:grey;
  font-family: 'Cormorant Garamond', serif;

}
body,html{
  height:100%;
}
body{
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(../img/brigitta.jpg) fixed;

  background-position:0% 51%;
  background-size:cover;
  background-repeat:repeat}
}
img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover:hover img {
  opacity: 0.7;
}
/* .modal-backdrop {
   background-color: red;
} */
.modal {
  top:10%;
  right:50px;
  outline: none;
}
.modal-header,.modal-footer {
    /* padding:9px 15px; */
    border-top: 1px;
    border-bottom:1px;
    background-color:black;
    background-color: rgba(0,0,0, 0.9);

    /* -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px; */
 }
.modal-body{
  background-color: black;
  background-color: rgba(0,0,0, 0.9);


}
